<a href="https://colab.research.google.com/github/jessicacristinams/BootcampTECHMINAs/blob/main/Desafio_Womakerscode_TechMinas_Jessica_Cristina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Bem vindas ao desafio de python do bootcamp Tech Minas da WoMakersCode!
Neste notebook, voce deve escrever o codigo python em resposta à cada uma das perguntas. Esteja atenta ao enunciado do problema!

### Desafio 1
Escreva uma função em python que lê dois números inteiros (a,b) e gere como resultado as seguintes operações:adição, subtração, multiplicação e divisão. Execute a funçao na celula abaixo, deixando visivel exemplos de resultados.

In [ ]:
##### ESCREVER A FUNÇAO ABAIXO
def operations(a,b):
  #### Escrever abaixo
    print('adicao: ', a+b)
    print('subtracao: ', a-b)
    print('multiplicao: ', a*b)
    print('divisao: ', a/b)
    return 0;

In [ ]:
#### RODAR A FUNÇAO
operations(4, 5)

adicao:  9
subtracao:  -1
multiplicao:  20
divisao:  0.8

0

### Desafio 2
Escreva uma função em python que leia como input uma idade e retorne a classificaçao da ideade do individuo da seguinte forma em:

*  Criança – 0 a 12 anos
*  Adolescente – 13 a 17 anos
*  Adulto – acima de 18 anos


Se a idade for um número negativo, mostrar a mensagem que a "idade inválida"

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def classifica_idade(idade):
  #### escrever abaixo
  if idade < 0:
    print('idade invalida')
    return 0
  if idade > 0 and idade <= 12:
    print('criança')
    return 1
  if idade > 12 and idade <= 17:
    print('adolescente')
    return 1
  if idade >= 18:
    print('adulto')
    return 1

In [ ]:
#### RODAR A FUNCAO
controle = 0
while not controle:
  idade = int(input('digite a idade'))
  controle = classifica_idade(idade)

digite a idade78
adulto

### Desafio 3
Crie uma função em python que receba como input um determinado horário em horas e retorne a conversao deste horário para segundos

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def time_converter(t):
  ##### escrever abaixo
  return t *60*60 # considerando t homogeneamente em horas

In [ ]:
##### RODAR A FUNCAO
horas = float(input('digite o tempo em horas: '))
print('o tempo',horas,'[h] em segundos é:',time_converter(horas))

digite o tempo em horas: 4
o tempo 4.0 [h] em segundos é: 14400.0

### Desafio 4
Crie uma função em python que calcule a média artimética de uma aluna que cursou a disciplina de Programação I. A funcao deve receber como input as notas M1, M2 e M3 e calcular a média. Após a média calculada, a funcao deve anunciar se a aluna foi aprovado, reprovado ou pegou exame de acordo conm a seguinte classificacao:

* Se a média estiver entre 0.0 e 4.0, o aluno está reprovado
* Se a média estiver entre 4.1 e 6.0, o aluno pegou exame
* Se a média for maior do que 6.0, o aluno está aprovado
* Se o aluno pegou exame, deve ser lida a nota do exame. Se a nota do exame for maior do que 6.0, está aprovado, senão; está reprovado

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def calcula_media(M1,M2,M3):
  media = (M1+M2+M3)/3;
  if media >= 0 and media <= 4.0:
      print("Aluno reprovado. Média igual a: ", media)
  if media >= 4.1 and media < 6.0:
      print("O aluno pegou exame. Média igual a: ",media)
      exame = float(input( "Digite a nota do exame: "))
      if exame > 6:
          print("Aluno aprovado. Nota do exame maior que seis.")
      else:
             (print("Aluno reprovado. Nota do exame menor ou igual a seis."))
              
  if media >= 6:
        print("Aluno aprovado. Média igual a: ", media)
  return 0;

In [ ]:
5#teste da função
media1 = float(input("Digite o valor da primeira nota: "))
media2 = float(input("Digite o valor da segunda nota: "))
media3 = float(input("Digite o valor da terceira nota: "))
calcula_media(media1,media2,media3)

Digite o valor da primeira nota: 5
Digite o valor da segunda nota: 9
Digite o valor da terceira nota: 7
Aluno aprovado. Média igual a:  7.0

0

### Desafio 5
Dado a seguinte lista: 
* equipes_bootcamp_dados = [BerthaLutz, GraceHopper, JaquelineGoes, SarahGilbert]

1. Crie uma função em python que conte quantas vezes aparece a letra a em cada elemento da lista. Seu resultado deve ser uma lista . exemplo: [4,0,1,2]

2. Leia a lista de alunas: ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

3. Crie uma função que atribua cada uma das alunas em uma das equipes da lista equipes_bootcamp_dados, de modo que cada equipe pode ter 3 alunas no máximo.

 Para isso ordene em alfabética. O seu resultado deve ser um dicionário python. exemplo {'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine','Erika','Luiza'],... }

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 1
def contador(equipes_bootcamp_dados):
  #### escrever abaixo

  i=len(equipes_bootcamp_dados)
  lista=equipes_bootcamp_dados 
                                 
  j=0
  while j<i:
    lista[j]=equipes_bootcamp_dados[j].count("a")
    j=j+1
  return lista

In [ ]:
###### RODAR A ETAPA 1
equipes_bootcamp_dados=["BerthaLutz", "GraceHopper", "JaquelineGoes", "SarahGilbert"]
lista=contador(equipes_bootcamp_dados)
print(lista)

[1, 1, 1, 2]

In [ ]:
##### LER A ETAPA 2
equipes_bootcamps_dados = ['BerthaLutz', 'GraceHopper', 'JaquelineGoes', 'SarahGilbert']
lista_de_alunas = ['Maria', 'Ana', 'Camila', 'Mariana', 'Elaine', 'Patricia',
                   'Marina', 'Erica', 'Larissa' 'Luiza', 'Nicole', 'Bruna']
lista_alunas = sorted(lista_de_alunas)
print(lista_alunas)

['Ana', 'Bruna', 'Camila', 'Elaine', 'Erica', 'LarissaLuiza', 'Maria', 'Mariana', 'Marina', 'Nicole', 'Patricia']

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 3
def ordenacao(lista_alunas, equipes_bootcamp_dados):
  ### escrever abaixo
  i = len(equipes_bootcamp_dados);
  j = 0
  dicionario = {}
  while j < i:

    dicionario[equipes_bootcamp_dados[j]] = lista_alunas[j:j+3]
    j = j+1
    
  return dicionario

In [ ]:
##### RODAR A FUNCAO DA ETAPA 3
dicionario = ordenacao(lista_alunas, equipes_bootcamp_dados)
print(dicionario)

{1: ['Camila', 'Elaine', 'Erica'], 2: ['Elaine', 'Erica', 'LarissaLuiza']}

### Desafio 6
Escreva uma função em python que leia uma temperatura em graus Celsius e retorne a conversao dela em graus Fahrenheit. 

A fórmula de conversão é F = (9 * C + 160) / 5, na qual F é a temperatura em Fahrenheit e C é a temperatura em graus Celsius

In [ ]:
##### ESCREVER A FUNCAO
def conversor_temperatura():
  ### escrever abaixo
  temp = float(input('digite a temperatura em celsius: '))
  return (9 * temp + 160)/5

In [ ]:
##### RODAR A FUNCAO
fahrenheit = conversor_temperatura()
print('a temperatura em Fahrenheit é: ',fahrenheit)

digite a temperatura em celsius: 80
a temperatura em Fahrenheit é:  176.0