<a href="https://colab.research.google.com/github/jessicacristinams/BootcampTECHMINAs/blob/main/Exerc_Estatistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd



--- **Obtenha a média aritmética do data frame.**

In [3]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [4]:
dataset.mean()

<ipython-input-4-e55bc0ed4499>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Idade    46.1
dtype: float64

**Média por categoria**
**Obtenha a idade média dos homens.**

In [5]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [6]:
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64